JPacman1999/Src/MapEdit/Release/
JPacman1999/Src/JPacman/Release/
*.suo
*.opendb
*.sdf
JPacman1999/Src/ipch/
JPacman1999/Src/JPacman/Debug/
JPacman1999/Src/MapEdit/Debug/
JPacman1999/Src/Debug.win32/
JPacman1999/Src/JPacman_Cocos2dx/Proj.Win32/Release.win32/
JPacman1999/Src/JPacman_Cocos2dx/Proj.Win32/Debug.win32/
JPacman1999/Src/Release.win32/
