JPacman1999/Src/MapEdit/Release/
JPacman1999/Src/JPacman/Release/
*.suo
*.opendb
*.sdf
JPacman1999/Bin/*.dll
JPacman1999/Bin/*.exe
JPacman1999/Bin/*.exp
JPacman1999/Bin/*.iobj
JPacman1999/Bin/*.ipdb
JPacman1999/Bin/*.lib
JPacman1999/Bin/*.pdb
JPacman1999/Src/ipch/
JPacman1999/Src/JPacman/Debug/
JPacman1999/Src/MapEdit/Debug/
JPacman1999/Src/Debug.win32/
JPacman1999/Src/JPacman_Cocos2dx/Proj.Win32/Release.win32/
JPacman1999/Src/JPacman_Cocos2dx/Proj.Win32/Debug.win32/
JPacman1999/Src/Release.win32/
*.aps
JPacman1999/Src/JPacman_Cocos2dx/Proj.Win32/Config.dat
JPacman1999/Src/JPacman_Cocos2dx/Proj.Win32/General.ptj
JPacman1999/Src/JPacman_Cocos2dx/Resources/RCa08388
*.ilk
JPacman1999/Bin/Editor/JPacman_MapEditor.exe
JPacman1999/Bin/Editor/JPacman_MapEditor.pdb
JPacman1999/Bin/Editor/Mapedit.pdb
JPacman1999/Bin/Config.dat
JPacmanUnity/Library/
JPacmanUnity/Temp/
JPacmanUnity/JPacmanUnity.userprefs
JPacman1999/Src/JPacman.VC.db
JPacmanUnity/Assembly-CSharp.csproj
JPacmanUnity/JPacmanUnity.sln
JPacmanUnity/Logs/
JPacmanUnity/UserSettings/
JPacman1999/Src/.vs/
JPacman1999/Src/JPacman_Axmol/Proj.Win32/Release.win32/
JPacman1999/Src/JPacman_Axmol/Proj.Win32/Debug.win32/
JPacman1999/Src/JPacman_Axmol/Proj.Win32/Config.dat
JPacmanUnity/.vs/
JPacmanUnity/UpgradeLog.htm
JPacmanUnity/.vsconfig
JPacmanUnity/build/
JPacmanUnity/Assets/SceneDependencyCache.meta
JPacmanUnity/Assets/SceneDependencyCache/
JPacmanUnity/obj/
